<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page for Login</h1>
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form">
                {{ form }}
            </fieldset>
            <div class="sign">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="log">
            <small>Not a member ?</small>
            <a href="{% url 'registration-page' %}">Register</a>
        </div>
    </div>
</body>
</html>